.header{
  width: 100%;
  height: 50px;
  background: white;
}
.article{
  width: 100%;
  height: calc(100vh - 50px);
  .aside{
    height: 100%;
    float: left;
    background: #001529;
    .menu:global(.zent-menu) {
      box-shadow:none;
      border: none;
    }
    .menu{
      color: white;
      ul{
        background: #001529;
      }
      li{
        background: #001529;
      }
    }
  }
  .main{
    margin-left: 200px;
    background: ghostwhite;
    height: 100%;
  }
}
